# Firebase Configuration
# Get these values from Firebase Console > Project Settings > General > Your apps
REACT_APP_FIREBASE_API_KEY=AIzaSyDI-7YhJyHNeAmDO8F0liPmujmfTqsJC9s
REACT_APP_FIREBASE_AUTH_DOMAIN=kotlin-kotlin.firebaseapp.com
REACT_APP_FIREBASE_PROJECT_ID=kotlin-kotlin
REACT_APP_FIREBASE_STORAGE_BUCKET=kotlin-kotlin.firebasestorage.app
REACT_APP_FIREBASE_MESSAGING_SENDER_ID=738644624577
REACT_APP_FIREBASE_APP_ID=1:738644624577:web:fa8ed948550101e0a94040
